<div class="container">
<h3>{{title}}</h3>
<p>Desde aqui con sus credenciales puede acceder al administrador</p>

<a href="/admin/novedades" class="btn btn-sm btn-danger">Admin</a>

<script type="text/javascript">

</script>

</div>

