<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>{{title}}</title>
  </head>
  <body>
      <Header class="navbar navbar-light bg-dark mb-5">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1 text-light">Admin FV Resto</span>
        </div>
  </Header>
    {{{body}}}
      <footer class="flex-shrink-0 py-4 bg-dark text-white-50 mt-5">
        <div class="container text-center">
          <small>Copyright FV ADMIN</small>
        </div>
      </footer>
  </body>
</html>
